@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar:hover {
  width: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #E6E1DC;
}

::-webkit-scrollbar-thumb {
  background: hsl(180, 66%, 49%);
  border-radius: 1rem;
  border: 3px solid #E6E1DC;
}

@layer components {
  .navigation-list {
    @apply cursor-pointer font-semibold text-white
  }
}